/* ブラウザが最初から持っている外側の余白を消す。横側の余白がなくなる。*/
body{
    margin: 0;
    padding: 0;
    font-family: "Hiragino Sans", sans-serif;/*フォントをゴシック体に指定。*/
}

/*inputタグ全てを選択*/
input{
    font-size: 17px;/*入力欄のサイズを拡大*/
    font-family: "Hiragino Sans", sans-serif;/*フォントをゴシック体に指定。*/
}

/*画面上部のタイトルのデザイン*/
#title-box{
    /*margin: 0;/*タイトルの上下の余白を消す。この枠の外側の余白を消す。*/
    background-color: #f5f5a7;/*背景色の指定*/
    height: 100px;/*高さの指定*/
    padding-left: 20px;/*タイトルの左側の余白を20pxに自分で設定。marginと違いこの枠の内側に余白ができる*/
    display: flex;/*フレックスボックスの指定。テキストが横並びで表示されるようになる。*/
    align-items: center;/*テキストを縦方向の中央に揃える。*/
}

/*画面左上の「＜」テキストのデザイン。HTMLではただのテキストだがCSSでボタンとして機能するようにする*/
#back_app_btn{
    color: #7b807c;
    font-size: 60px;/*文字サイズの指定*/
    margin-right: 20px;/*テキストの右側の余白を20pxに自分で設定。*/
    font-weight: bold;/*文字を太字にする。*/
    cursor: pointer;/*マウスポインタがこのテキストの上に来たとき、クリックできることを示すポインタに変わる。*/
}

/*画面上部のタイトルテキストのデザイン*/
#app_title{
    margin: 0px;/*タイトルの左側の余白を0pxに自分で設定。*/
    font-size: 50px;/*文字サイズの指定*/
    font-weight: bold;/*文字を太字にする。*/
    line-height: 80px;
}

/*日付と「コメント生成」ボタンのボックスのデザイン*/
#subtitle{
    display: flex;/*フレックスボックスの指定。テキストが横並びで表示されるようになる。*/
    align-items: center;/*テキストを縦方向の中央に揃える。これにより「コメント生成」ボタンがテキストと同じラインに並ぶ。*/
    gap: 150px;
    margin: 0px 80px;
    font-size: 40px;
}

/*「コメント生成」ボタンのデザイン*/
#create_comment_btn{
    font-size: 40px;/*ボタンのサイズを拡大*/
    background-color: #d3d3d3;/*背景色の指定*/
    font-weight: bold;/*文字を太字にする。*/
    border-radius: 30px;/*ボックスの角を丸くする。*/
    padding: 20px;/*ボタン内の余白を設定*/
    cursor: pointer;/*マウスポインタがこのテキストの上に来たとき、クリックできることを示すポインタに変わる。*/
}

/*コメント文が生成されるボックスのデザイン*/
#comment-box{
    padding: 10px;
    margin-bottom: 40px;/*下の余白を20pxに自分で設定。*/
    border-radius: 30px;/*ボックスの角を丸くする。*/
    font-size: 30px;/*文字サイズの指定*/
    background: #d3d3d3;/*灰色の背景色をつける*/
}

/*朝昼夕の食事欄を横一列に並べる。*/
#all-meal-box{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 0px 30px;
}

/*朝食の記録欄のデザイン*/
#breakfast-box{
    padding: 10px 40px;/*上下の余白を10px、左右の余白を40px*/
    margin-bottom: 20px;/*下の余白を20pxに自分で設定。*/
    border-radius: 30px;/*ボックスの角を丸くする。*/
    background-color: #f7a3d5;/*背景色の指定*/
    font-size: 24px;
}

/*「朝食」テキストのデザイン。*/
#breakfast-title{
    margin: 0;/*タイトルの上下の余白を消す。*/
    font-size: 40px;/*文字サイズの指定*/
    margin-left: -20px;/*タイトルの左側の余白を-20px。これを入れるとタイトルが左側に少し移動する。*/
}

/*朝食の献立の入力欄の拡大。*/
#breakfast_menu{
    width: 100%;
}

/*昼食の記録欄のデザイン*/
#lunch-box{
    padding: 10px 40px;/*上下の余白を10px、左右の余白を40px*/
    margin-bottom: 20px;/*下の余白を20pxに自分で設定。*/
    border-radius: 30px;/*ボックスの角を丸くする。*/
    background-color: #ebf486;/*背景色の指定*/
    font-size: 24px;
}
/*「昼食」テキストのデザイン。*/
#lunch-title{
    margin: 0;/*タイトルの上下の余白を消す。余白が小さくなる。*/
    font-size: 40px;/*文字サイズの指定*/
    margin-left: -20px;/*タイトルの左側の余白を-20px。これを入れるとタイトルが左側に少し移動する。*/
}

/*昼食の献立の入力欄の拡大。*/
#lunch_menu{
    width: 100%;
}

/*夕食の記録欄のデザイン*/
#dinner-box{
    padding: 10px 40px;/*上下の余白を10px、左右の余白を40px。*/
    margin-bottom: 20px;/*下の余白を20pxに自分で設定。*/
    border-radius: 30px;/*ボックスの角を丸くする。*/
    background-color: #f7cea3;/*背景色の指定*/
    font-size: 24px;
}
/*「夕食」テキストのデザイン。*/
#dinner-title{
    margin: 0;/*タイトルの上下の余白を消す。*/
    font-size: 40px;/*文字サイズの指定*/
    margin-left: -20px;/*タイトルの左側の余白を-20px。これを入れるとタイトルが左側に少し移動する。*/
}
/*夕食の献立の入力欄の拡大。*/
#dinner_menu{
    width: 100%;
}

/*その他の食事の入力欄の拡大。*/
#other_meals_input{
    margin-top: 20px;/*上の余白を20px。これを入れると次の内容との間に余白ができる。*/
    margin-bottom: 20px;/*下の余白を20px。これを入れると次の内容との間に余白ができる。*/
    width: 70%;
}

/*「その他の食事」テキストのデザイン。*/
#other_meals-title{
    margin-left: 15px;/*タイトルの左側の余白を15px。これを入れるとタイトルが右側に少し移動する。*/
    font-size: 30px;/*文字サイズの指定*/
}

/*「記録保存」ボタンと「記録確定」ボタンのデザイン。*/
#save_records_btn, #finish_today_btn{
    font-size: 40px;/*ボタンのサイズを拡大*/
    background-color: #f5f5a7;/*背景色の指定。タイトルの背景色と一致させた。*/
    font-weight: bold;/*文字を太字にする。*/
    border-radius: 30px;/*ボックスの角を丸くする。*/
    padding: 20px;/*ボタン内の余白を設定*/
    cursor: pointer;/*マウスポインタがこのテキストの上に来たとき、クリックできることを示すポインタに変わる。*/
}

/*「記録保存」ボタンと「記録確定」ボタンのデザイン。boxごとだとボタン自体のデザインは作れない。*/
#bottom-btns-box{
    display: flex;/*ボックスなのでboxのデザイン内で書く。*/
    justify-content: center;/*テキストを縦方向の中央に揃える。これにより「コメント生成」ボタンがテキストと同じラインに並ぶ。*/
    margin-bottom: 30px;/*下の余白を30px。*/
    gap: 50px;/*要素(ボタン)同士の間隔を20pxに自分で設定。*/
}